<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/js/indexCSS.css}"/>	
	<title>Stereoscopics</title>
</head>
<body>
	
<!-- banner -->	

  <div id="banner">   
	  <img th:src="@{/images/bannerGlobe.jpg}" alt="banner"> 
  </div>
  
<!-- navbar -->   
<nav class="navbar navbar-toggleable-md "navbar navbar-light" style="background-color: #f7f9fc">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a style="color: black;" class="navbar-brand" href="/redirect">Stereoscopics</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="blogposts/displayBlogPosts">Blog</a>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="login">Log In</a>
          <a class="dropdown-item" href="user/createUser">Create An Account</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Journal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="journal/viewJournal">Browse Journal</a>
          <a class="dropdown-item" href="articles/addArticle.html">Submit An Article</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="FAQ">FAQ</a>
          <a class="dropdown-item" href="contactUs">Contact Us</a>
          <a class="dropdown-item" href="team">Stereoscopics Team</a>
        </div>
      </li>
    </ul>
  </div>
 <img style="text-align: right;" th:src="@{/images/stereoGlobe.png}" alt="logo" height="60" width="60">
</nav>

<p></p>

<!--Quote Generator-->
<p></p>
<p id="quoteOutputSpace"></p> 
<p></p>
<br>
<br>
<br>
<br>
<br>

<!--Display Last Two Blog Posts-->

<div style="float: left;") class="container">
	<div th:if="${not #lists.isEmpty(blogPosts)}">
		<h2>Recent BlogPosts</h2>	
		<table class="table borderless">
		<tr>
			<td>date</td>
			<td>content</td>
		</tr>
		<tr th:each="BlogPost, iterStat : ${blogPosts}" th:if="${iterStat.index >= iterStat.size-2}">
			<td th:text="${BlogPost.getDate()}"></td>
			<td th:utext="${BlogPost.getContent()}"></td>
		</tr>
		
		</table>
	</div>
</div>




<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/randomQuoteGeneration.js"></script>
</body>
</html>
